*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.container .header ul{
    display: flex;
}